html,
body,
#root,
#storybook-root {
  height: 100%;
  /* biome-ignore lint/complexity/noImportantStyles: false positive */
  padding: 0 !important;
  margin: 0;
}

body {
  background-color: white;
}
